name: Unit Tests

on:
  push:
    branches: [ "main" ]
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Build & Test
    runs-on: ubuntu-latest
    permissions: write-all
    timeout-minutes: 30
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        submodules: true
        clean: false
        lfs: 'true'
    - name: Setup System Dependencies
      run: sudo apt-get install -y libsasl2-dev
    - name: Setup Rust
      uses: dtolnay/rust-toolchain@stable
    - name: Configure cache
      uses: Swatinem/rust-cache@v2
    - name: Start services
      run: |
        cp docker-compose.default.yaml docker-compose.yaml
        docker compose up --build -d
    - name: Tests
      run: cargo test --release
